* {
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 400px;
}

/* Generic */

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

input {
    flex: 1;
    padding: 7px 0;
    border: none;
}

.title {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

.subtitle {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    opacity: 0.8;
}

.info {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    opacity: 0.7;
}

i.material-icons {
    font-size: inherit;
    align-self: center;
}

/* Player */

#player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

#player * {
    color: white;
}

/* Playing video : title and actions */

#player #youtube-playing {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player .actions {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-left: 20px;
}

/* Video search : input */

#search {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 10px;
}

#search .input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
}

/* Video search : spinner and results */

#search .spinner {
    display: none;
    margin-top: 20px;
}

#search .spinner.visible {
    display: block;
}

#search #video-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    list-style: none;
}

/* Video search results : item */

/*
#search #video-list li {
    padding: 5px;
    transition: var(--transition);
}

#search #video-list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#search #video-list li:hover {
    color: white;
    background: var(--primary-color);
    cursor: pointer;
}
*/

#search #video-list li {
    display: flex;
    flex-direction: row;
    transition: var(--transition);
    background: rgba(0, 0, 0, 0.05);
}

#search #video-list li:not(:last-of-type) {
    margin-bottom: 5px;
}

#search #video-list li:hover {
    color: white;
    background: var(--primary-color);
    cursor: pointer;
}

#search #video-list .thumbnail {
    display: none;
    overflow: hidden;
}

#search #video-list li .thumbnail img {
    height: 70px;
    transition: .2s all ease;
    transform: scale(1.15);
}

#search #video-list li:hover .thumbnail img {
    transform: scale(1.3);
}

#search #video-list li .metadata {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#search #video-list li .metadata .content, #search #video-list li .metadata .footer {
    padding: 7px;
}

#search #video-list li .metadata .content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#search #video-list li .metadata .content .title {
    overflow: hidden;
    height: 26px;
}

#search #video-list li .metadata .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 
}
