* {
    margin: 0;
    padding: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 400px;
}

#player {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
}

#player * {
    color: white;
}

#player #youtube-tab {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#player .actions {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-left: 20px;
}

#player .actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 10px;
}

#search .spinner {
    display: none;
    margin-top: 20px;
}

#search .spinner.visible {
    display: block;
}

#search .input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--secondary-color);
}

#search input {
    flex: 1;
    padding: 7px 0;
    border: none;
}

#search ul {
    margin-top: 10px;
    list-style: none;
}

#search ul li {
    padding: 5px;
    transition: var(--transition);
}

#search ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#search ul li:hover {
    color: white;
    background: var(--primary-color);
    cursor: pointer;
}
