* {
    margin: 0;
    padding: 0;
}

#player {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    padding: 15px 10px;
    background: rgb(3, 57, 82);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#player * {
    color: white;
}

#player #youtube-tab {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

#player .actions {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin-left: 20px;
}

#player .actions button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    border: none;
    background: transparent;
    cursor: pointer;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    padding: 10px;
}

#search input {
    padding: 7px 0;
    border: none;
    border-bottom: 2px solid darkcyan;
}
