html, body {
    width: 300px;
}

.control > button {
    margin: 5px auto;
}

#youtube-tab::before {
    content: 'Tab: ';
    font-weight: bold;
}

#video-list {
    margin-top: 10px;
}